/* Define variables at the root level */
:root {
    --primary-color: #202946;
    --accent-color: #7d96e8;
    --light-color: #e5e4e7;
    --dark-color: #333333;
    --green-color: #146f14;
    --red-color: #991515;
    --sidebar-width: 20rem;
    --sidebar-collapsed-width: 4rem;
    --player-width: 12rem;
    --padding-inc: 0.75rem;
}

h1,
h2,
h3,
h4 {
    font-family: 'PT Sans Narrow', sans-serif;
    color: var(--light-color);
}


body {
    font-family: 'Lato', 'Tahoma', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--primary-color);
    font-size: 2rem;
    align-items: center;

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    background-color: var(--primary-color);
    color: var(--light-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--padding-inc);
    z-index: 1000;
}